<?xml version="1.0" encoding="utf-8"?>
<!--
	Sample
<packages>
	<package id="apackage" />
	<package id="anotherPackage" version="1.1" />
	<package id="chocolateytestpackage" version="0.1" source="somelocation" />
</packages>  
-->
<packages>
	<!-- Windows Features -->
	<!-- .NET 3.5 (includes 2.0 and 3.0) -->
	<package id="NetFx3" source="windowsfeatures"/>
	<!-- Hyper-V -->
	<package id="Microsoft-Hyper-V-All" source="windowsfeatures"/>
	<package id="Microsoft-Hyper-V-Tools-All" source="windowsfeatures"/>
	<package id="Microsoft-Hyper-V" source="windowsfeatures"/>
	<package id="Microsoft-Hyper-V-Management-Clients" source="windowsfeatures"/>
	<package id="Microsoft-Hyper-V-Management-PowerShell" source="windowsfeatures"/>
	<!-- Tools -->
	<!-- First of all, install VS 2012 -->
	<package id="VisualStudio2012Ultimate"/>
	<package id="7zip"/>
	<package id="adobereader"/>
	<package id="ChocolateyGUI"/>
	<package id="fiddler4"/>
	<package id="filezilla"/>
	<package id="Firefox"/>
	<package id="GoogleChrome"/>
	<package id="greenshot"/>
	<package id="mRemoteNG"/>
	<package id="paint.net"/>
	<package id="PDFCreator"/>
	<package id="SkyDrive"/>
	<package id="Skype"/>
	<package id="SourceCodePro"/>
	<package id="sublimetext2"/>
	<package id="tortoisehg"/>
	<package id="tweetdeck"/>
	<package id="vlc"/>
	<package id="EthanBrown.SublimeText2.WebPackages"/>
	<!-- Web Platform Installer -->
	<package id="webpicommandline"/>
	<!-- Latest Azure SDK Visual Studio 2012 -->
	<package id="VWDOrVs11AzurePack" source="webpi"/>
	<package id="WindowsAzurePowershell" source="webpi"/>
</packages>