<?xml version="1.0" encoding="utf-8"?>
<!--
	Sample
<packages>
	<package id="apackage" />
	<package id="anotherPackage" version="1.1" />
	<package id="chocolateytestpackage" version="0.1" source="somelocation" />
</packages>  
-->
<packages>
	<!-- Tools -->
	<package id="7zip"/>
	<package id="fiddler4"/>
	<package id="Firefox"/>
	<package id="GoogleChrome"/>
	<package id="SourceCodePro"/>
	<package id="sublimetext2"/>
	<package id="tortoisehg"/>
	<package id="EthanBrown.SublimeText2.WebPackages"/>
	<!-- Web Platform Installer -->
	<!-- First of all, install VS 2012 -->
	<package id="VisualStudio2012Ultimate"/>
	<package id="VisualStudio2013Ultimate"/>
	<package id="resharper"/>
	<package id="webpicommandline"/>
	<!-- Latest Azure SDK Visual Studio 2012 -->
	<package id="VWDOrVs11AzurePack" source="webpi"/>
	<package id="WindowsAzurePowershell" source="webpi"/>
</packages>